* {
    margin: 0;
    /* background-color: rgb(151, 148, 148); */
}

button {
    background-color: red;
    width: 80px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 10px;
}

#header {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
    margin-top: 50px;
    width: 90%;
    height: 50px;
    /* border: 1px solid black;
    margin: auto;
    margin-top: 50px; */
}

.mainPage {
    border: 1px solid black;
    margin-top: 50px;
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    padding: 40px;

}

.questionAnswerCard {
    background-color: blue;
    width: 45%;
    padding: 20px;
}

.questionPage {
    background-color: blue;
    width: 45%;
    padding: 20px;
}

#searchResult {
    background-color: white;
    width: 400px;
    height: 500px;
    /* margin-top: 50px;
    margin-left: 40px; */
    margin: 50px;
}

#questions {
    background-color: white;
    width: 400px;
    height: 500px;
    /* margin-top: 50px;
    margin-left: 40px; */
    margin: 50px;
}

.container {
    display: flex;
}

#search_button {
    margin-left: 30px;
}

#search {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(70, 67, 67);
}



.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.routes {
    text-align: center;

}

.linkpage {
    margin: 60px;
    background-color: rgb(188, 190, 192);
    width: 40%;
    margin: auto;
    margin-top: 60px;
    padding: 30px;
}

.linkpage input {
    margin-right: 0px;
}