* {
    margin: 0;   
   
}

button {
    background-color: red;
    width: 80px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 20px;
}

#header {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
    margin-top: 50px;
    width: 70%;
    height: 50px;
    margin-bottom: 50px;
}
#header img{
    width: 10%;
    height: auto;
    margin-left: 20px;
}

.mainPage {

    background-color: gray;
    margin-top: 60px;
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    padding: 40px;

}

.questionAnswerCard {
    background-color: white;
    width: 42%;
    padding: 20px;
    text-align: left;
}

.questionPage {
    background-color: white;
    width: 42%;
    padding: 20px;
    text-align: left;
}

#searchResult {
    background-color: white;
    width: 400px;
    height: 500px;
}

#questions {
    background-color: white;
    width: 400px;
    height: 500px;   
    margin: 50px;
}

.container {
    display: flex;
}

#search_button {
    margin-left: 30px;
}

#search {
    width: 90%;
    height: 30px;
    border-radius: 10px;
    background-color:transparent;
    border: none;
    margin: auto;
    outline: none;
    margin-left: 20px;
    padding-left: 20px; 
    
}
.search-input{
    display: flex;
    align-items: center;
    width:40% ;
    border: 1px solid grey;
    padding-left: 10px;
    border-radius: 10px;
    margin-left: 15px;
}
.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 15px;
    font-family: sans-serif;
}

.routes {
    text-align: center;

}

.linkpage {
    margin: 60px;
    background-color: rgb(188, 190, 192);
    width: 50%;
    margin: auto;
    margin-top: 60px;
    /* padding-top: 20px; */
    text-align: right;
}

.linkpage select {
    height: 25px;
}

.linkpage input {
    margin-top: 20px;
    height: 25px;
    width: 200px;

}

.inputs {
    width: 200px;
    margin: 20px;
    padding: 10px;
}

.addquestion {
    display: flex;
    justify-content: space-evenly;
    margin: 8px;
    align-items: center;
}

.addAnswer {
    margin-right: 180px;
    padding-top: 30px;
}

.addAnswer button {
    margin-right: 0px;
}

#buttoncontainer {
    display: flex;
    justify-content: right;

}

.login-page {
    padding: 0px;
    margin-right: 220px;
}

#register {

    padding-bottom: 30px;
    margin-right: 10px;
}

.login-page button {
    margin-right: 0px;
}

.register-page {
    margin-right: 150px;
}

.card{
    margin-bottom: 20px;
}
.question-card{
    margin-bottom: 15px;
    font-size: 18px;
    color: rgb(122, 34, 118);
    font-weight: 600;
}

@media only screen and (max-width:700px)  {
    .nav-links {
        width: 40%;    
        list-style: none;
        font-size: 8px;
        padding-left: 0px;
        
    }
    #header {        
        margin: auto;
        align-items: center;
        margin-top: 20px;
        width: 90%;
        height: 20px;
        margin-bottom: 20px;
        
    }
    #search {
        width: 70%;
        height: 20px;
        border-radius: 10px;
        background-color: white;
        border: 1px solid rgb(155, 149, 149);
        margin: auto;
        margin-left: 0px;
        padding-left: 10px; 
        
    }


    
}